/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

body {
  padding: 20px;
}

.form-control.ng-touched.ng-invalid {
    border: 2px solid red;
}
.btn {
  margin: .2em .1em;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 1em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: none;
  border-bottom: .15em solid black;
  border-radius: 3px;
  padding: 0.65em 1.3em;
}

.btn-lg {
  padding: 1em 2em;
}

.btn-sm,
.btn-xs {
  font-size: .85em;
  padding: .5em 1em;
}

.btn-xs {
  font-size: .85em;
  padding: .25em .75em;
}

.btn-default {
  border-color: #d9d9d9;
  background-image: linear-gradient(#ffffff, #f2f2f2);
}
.btn-default:hover {
  background: linear-gradient(#f2f2f2, #e6e6e6);
}

.btn-primary {
  border-color: #2a6496;
  background-image: linear-gradient(#428bca, #357ebd);
}
.btn-primary:hover {
  background: linear-gradient(#357ebd, #3071a9);
}

.btn-success {
  border-color: #8b350a;
  color: #2a6496;
  background-image: linear-gradient(#ffd800, #008c7b);
}
.btn-success:hover {
  background: linear-gradient(#4cae4c, #449d44);
}

.btn-info {
  border-color: #28a1c5;
  background-image: linear-gradient(#5bc0de, #46b8da);
}
.btn-info:hover {
  background: linear-gradient(#46b8da, #31b0d5);
}

.btn-warning {
  border-color: #df8a13;
  background-image: linear-gradient(#f0ad4e, #eea236);
}
.btn-warning:hover {
  background: linear-gradient(#eea236, #ec971f);
}

.btn-danger {
  border-color: #b52b27;
  background-image: linear-gradient(#d9534f, #d43f3a);
}
.btn-danger:hover {
  background: linear-gradient(#d43f3a, #c9302c);
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #e0e6ff;
    background-color: #af92c1;
}
